* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Form */
.form {
  max-width: 512px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  row-gap: 16px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  background-color: white;
}

.form__title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.form__input-group {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.form__group {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border: 1px solid #eaeaea;
  padding: 8px;
  border-radius: 4px;
}

/* Table */
.table-container {
  margin: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.table {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  border-collapse: collapse;
}

.table__row {
  border: 1px solid #eaeaea;
}

.table__cell {
  padding: 4px;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

/* Elements */
.btn {
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn--primary {
  color: white;
  background-color: paleturquoise;
}

.btn--secondary {
  color: white;
  background-color: palegoldenrod;
}

.btn--delete {
  color: white;
  background-color: pink;
}

.input {
  width: 100%;
  outline: none;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}

/* Modal */
.modal-container {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: hsl(0, 0%, 30%, 70%);
}

.modal__header {
  display: flex;
  padding: 16px;
  justify-content: flex-end;
}

/* Utilities */
.hidden {
  display: none;
}
